In [12]:
!pip install pandas openpyxl

import pandas as pd
from datetime import datetime

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
df = pd.read_excel(r"C:\Users\USER\marketing_predictions\marketing_campaign.xlsx")
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [14]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [15]:
df.fillna({'mntwines': 0, 'mntfruits': 0, 'mntmeatproducts': 0, 
           'mntfishproducts': 0, 'mntsweetproducts': 0, 'mntgoldprods': 0}, inplace=True)

print(f"Number of duplicates before removal: {df.duplicated().sum()}")
df.drop_duplicates(inplace=True)
print(f"Number of duplicates after removal: {df.duplicated().sum()}")

Number of duplicates before removal: 0
Number of duplicates after removal: 0

In [16]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

current_year = datetime.now().year  
df['age'] = current_year - df['year_birth']
df['income_category'] = pd.cut(df['income'], bins=[0, 20000, 40000, 60000, 80000, 100000, float('inf')],
                               labels=['Low', 'Medium-Low', 'Medium', 'Medium-High', 'High', 'Very High'])

In [17]:
numeric_df = df.select_dtypes(include=['float64', 'int64'])
correlation_matrix = numeric_df.corr()
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                           id  year_birth    income   kidhome  teenhome  \
id                   1.000000    0.000028  0.013095  0.002406 -0.002580
year_birth           0.000028    1.000000 -0.161791  0.230176 -0.352111
income               0.013095   -0.161791  1.000000 -0.428669  0.019133
kidhome              0.002406    0.230176 -0.428669  1.000000 -0.036133
teenhome            -0.002580   -0.352111  0.019133 -0.036133  1.000000
recency             -0.046524   -0.019871 -0.003970  0.008827  0.016198
mntwines            -0.022878   -0.157773  0.578650 -0.496297  0.004846
mntfruits            0.004600   -0.017917  0.430842 -0.372581 -0.176764
mntmeatproducts     -0.004437   -0.030872  0.584633 -0.437129 -0.261160
mntfishproducts     -0.024475   -0.041625  0.438871 -0.387644 -0.204187
mntsweetproducts    -0.007642   -0.018133  0.440744 -0.370673 -0.162475
mntgoldprods        -0.013438   -0.061818  0.325916 -0.349595 -0.021725
numdealspurchases   -0.037166   -0.060846 -0.083101  0.221798  0.387741
numwebpurchases     -0.018924   -0.145040  0.387878 -0.361647  0.155500
numcatalogpurchases -0.003440   -0.121275  0.589162 -0.502237 -0.110769
numstorepurchases   -0.014927   -0.128272  0.529362 -0.499683  0.050695
numwebvisitsmonth   -0.007446    0.121139 -0.553088  0.447846  0.134884
acceptedcmp3        -0.036040    0.061774 -0.016174  0.014674 -0.042677
acceptedcmp4        -0.025387   -0.060510  0.184400 -0.161600  0.038886
acceptedcmp5        -0.007517    0.007123  0.335943 -0.205634 -0.191050
acceptedcmp1        -0.021614   -0.005930  0.276820 -0.172339 -0.140090
acceptedcmp2        -0.015061   -0.006539  0.087545 -0.081716 -0.015605
complain             0.033883   -0.030128 -0.027225  0.040207  0.003138
z_costcontact             NaN         NaN       NaN       NaN       NaN
z_revenue                 NaN         NaN       NaN       NaN       NaN
response            -0.021968    0.021325  0.133047 -0.080008 -0.154446
age                 -0.000028   -1.000000  0.161791 -0.230176  0.352111

                      recency  mntwines  mntfruits  mntmeatproducts  \
id                  -0.046524 -0.022878   0.004600        -0.004437
year_birth          -0.019871 -0.157773  -0.017917        -0.030872
income              -0.003970  0.578650   0.430842         0.584633
kidhome              0.008827 -0.496297  -0.372581        -0.437129
teenhome             0.016198  0.004846  -0.176764        -0.261160
recency              1.000000  0.016064  -0.004306         0.023056
mntwines             0.016064  1.000000   0.389637         0.562667
mntfruits           -0.004306  0.389637   1.000000         0.543105
mntmeatproducts      0.023056  0.562667   0.543105         1.000000
mntfishproducts      0.001079  0.399753   0.594804         0.568402
mntsweetproducts     0.022670  0.386581   0.567164         0.523846
mntgoldprods         0.016693  0.387516   0.392995         0.350609
numdealspurchases   -0.001098  0.010940  -0.132114        -0.122415
numwebpurchases     -0.010726  0.542265   0.296735         0.293761
numcatalogpurchases  0.025110  0.635226   0.487917         0.723827
numstorepurchases    0.000799  0.642100   0.461758         0.479659
numwebvisitsmonth   -0.021445 -0.320653  -0.418383        -0.539470
acceptedcmp3        -0.032991  0.062202   0.014727         0.018272
acceptedcmp4         0.018826  0.373286   0.010152         0.102912
acceptedcmp5         0.000129  0.472613   0.215833         0.373769
acceptedcmp1        -0.019283  0.354133   0.194748         0.309761
acceptedcmp2        -0.001781  0.205907  -0.009773         0.043033
complain             0.013231 -0.039007  -0.005166        -0.023483
z_costcontact             NaN       NaN        NaN              NaN
z_revenue                 NaN       NaN        NaN              NaN
response            -0.198437  0.247254   0.125289         0.236335
age                  0.019871  0.157773   0.017917         0.030872

                     mntfishproducts  ...  acceptedcmp3  acceptedcmp4  \
id                         -0.024475  ...     -0.036040     -0.025387
year_birth                 -0.041625  ...      0.061774     -0.060510
income                      0.438871  ...     -0.016174      0.184400
kidhome                    -0.387644  ...      0.014674     -0.161600
teenhome                   -0.204187  ...     -0.042677      0.038886
recency                     0.001079  ...     -0.032991      0.018826
mntwines                    0.399753  ...      0.062202      0.373286
mntfruits                   0.594804  ...      0.014727      0.010152
mntmeatproducts             0.568402  ...      0.018272      0.102912
mntfishproducts             1.000000  ...      0.000357      0.016843
mntsweetproducts            0.579870  ...      0.001530      0.028641
mntgoldprods                0.422875  ...      0.123091      0.022268
numdealspurchases          -0.139361  ...     -0.023109      0.015594
numwebpurchases             0.293681  ...      0.042176      0.155903
numcatalogpurchases         0.534478  ...      0.104730      0.139247
numstorepurchases           0.459855  ...     -0.067577      0.179379
numwebvisitsmonth          -0.446003  ...      0.061211     -0.032126
acceptedcmp3                0.000357  ...      1.000000     -0.079512
acceptedcmp4                0.016843  ...     -0.079512      1.000000
acceptedcmp5                0.199578  ...      0.080316      0.306526
acceptedcmp1                0.260762  ...      0.094751      0.251300
acceptedcmp2                0.002577  ...      0.072020      0.292210
complain                   -0.020953  ...      0.008415     -0.027611
z_costcontact                    NaN  ...           NaN           NaN
z_revenue                        NaN  ...           NaN           NaN
response                    0.111331  ...      0.254258      0.177019
age                         0.041625  ...     -0.061774      0.060510

                     acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
id                      -0.007517     -0.021614     -0.015061  0.033883
year_birth               0.007123     -0.005930     -0.006539 -0.030128
income                   0.335943      0.276820      0.087545 -0.027225
kidhome                 -0.205634     -0.172339     -0.081716  0.040207
teenhome                -0.191050     -0.140090     -0.015605  0.003138
recency                  0.000129     -0.019283     -0.001781  0.013231
mntwines                 0.472613      0.354133      0.205907 -0.039007
mntfruits                0.215833      0.194748     -0.009773 -0.005166
mntmeatproducts          0.373769      0.309761      0.043033 -0.023483
mntfishproducts          0.199578      0.260762      0.002577 -0.020953
mntsweetproducts         0.259590      0.241818      0.009985 -0.022485
mntgoldprods             0.181021      0.166396      0.049990 -0.030861
numdealspurchases       -0.183248     -0.123244     -0.037695  0.000420
numwebpurchases          0.138684      0.155143      0.034188 -0.016310
numcatalogpurchases      0.322321      0.308097      0.099852 -0.020453
numstorepurchases        0.214790      0.183249      0.085189 -0.016524
numwebvisitsmonth       -0.278113     -0.192502     -0.007196  0.019769
acceptedcmp3             0.080316      0.094751      0.072020  0.008415
acceptedcmp4             0.306526      0.251300      0.292210 -0.027611
acceptedcmp5             1.000000      0.403078      0.221533 -0.009419
acceptedcmp1             0.403078      1.000000      0.175315 -0.025499
acceptedcmp2             0.221533      0.175315      1.000000 -0.011334
complain                -0.009419     -0.025499     -0.011334  1.000000
z_costcontact                 NaN           NaN           NaN       NaN
z_revenue                     NaN           NaN           NaN       NaN
response                 0.326634      0.293982      0.169293 -0.001707
age                     -0.007123      0.005930      0.006539  0.030128

                     z_costcontact  z_revenue  response       age
id                             NaN        NaN -0.021968 -0.000028
year_birth                     NaN        NaN  0.021325 -1.000000
income                         NaN        NaN  0.133047  0.161791
kidhome                        NaN        NaN -0.080008 -0.230176
teenhome                       NaN        NaN -0.154446  0.352111
recency                        NaN        NaN -0.198437  0.019871
mntwines                       NaN        NaN  0.247254  0.157773
mntfruits                      NaN        NaN  0.125289  0.017917
mntmeatproducts                NaN        NaN  0.236335  0.030872
mntfishproducts                NaN        NaN  0.111331  0.041625
mntsweetproducts               NaN        NaN  0.117372  0.018133
mntgoldprods                   NaN        NaN  0.139850  0.061818
numdealspurchases              NaN        NaN  0.002238  0.060846
numwebpurchases                NaN        NaN  0.148730  0.145040
numcatalogpurchases            NaN        NaN  0.220810  0.121275
numstorepurchases              NaN        NaN  0.039363  0.128272
numwebvisitsmonth              NaN        NaN -0.003987 -0.121139
acceptedcmp3                   NaN        NaN  0.254258 -0.061774
acceptedcmp4                   NaN        NaN  0.177019  0.060510
acceptedcmp5                   NaN        NaN  0.326634 -0.007123
acceptedcmp1                   NaN        NaN  0.293982  0.005930
acceptedcmp2                   NaN        NaN  0.169293  0.006539
complain                       NaN        NaN -0.001707  0.030128
z_costcontact                  NaN        NaN       NaN       NaN
z_revenue                      NaN        NaN       NaN       NaN
response                       NaN        NaN  1.000000 -0.021325
age                            NaN        NaN -0.021325  1.000000

[27 rows x 27 columns]

In [18]:
spending_columns = ['mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts', 'mntgoldprods']

df[spending_columns] = df[spending_columns].apply(pd.to_numeric, errors='coerce')

categorical_columns = df.select_dtypes(include=['category']).columns
for col in categorical_columns:
    df[col] = df[col].astype(str) 

df.fillna(0, inplace=True)

In [19]:
average_spending_by_education = df.groupby('education')[spending_columns].mean()
print("\nAverage Spending by Education Level:")
print(average_spending_by_education)

accepted_campaigns = df[['acceptedcmp1', 'acceptedcmp2', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5']]
acceptance_rates = accepted_campaigns.mean()
print("\nAcceptance Rates for Campaigns:")
print(acceptance_rates)

Average Spending by Education Level:
              mntwines  mntfruits  mntmeatproducts  mntfishproducts  \
education
2n Cycle    198.182266  28.955665       141.256158        47.482759
Basic         7.240741  11.111111        11.444444        17.055556
Graduation  284.268855  30.774623       179.488909        43.149956
Master      333.075676  21.654054       163.378378        32.100000
PhD         404.495885  20.049383       168.602881        26.728395

            mntsweetproducts  mntgoldprods
education
2n Cycle           34.251232     46.399015
Basic              12.111111     22.833333
Graduation         31.367347     50.849157
Master             21.175676     40.397297
PhD                20.222222     32.310700

Acceptance Rates for Campaigns:
acceptedcmp1    0.064286
acceptedcmp2    0.013393
acceptedcmp3    0.072768
acceptedcmp4    0.074554
acceptedcmp5    0.072768
dtype: float64

In [20]:
df['roi'] = (df['z_revenue'] - df['z_costcontact']) / df['z_costcontact']
print("\nROI Calculation:")
print(df[['id', 'roi']])

df['cpa'] = df['z_costcontact'] / df['numdealspurchases']
print("\nCost per Acquisition Calculation:")
print(df[['id', 'cpa']])

ROI Calculation:
         id       roi
0      5524  2.666667
1      2174  2.666667
2      4141  2.666667
3      6182  2.666667
4      5324  2.666667
...     ...       ...
2235  10870  2.666667
2236   4001  2.666667
2237   7270  2.666667
2238   8235  2.666667
2239   9405  2.666667

[2240 rows x 2 columns]

Cost per Acquisition Calculation:
         id       cpa
0      5524  1.000000
1      2174  1.500000
2      4141  3.000000
3      6182  1.500000
4      5324  0.600000
...     ...       ...
2235  10870  1.500000
2236   4001  0.428571
2237   7270  3.000000
2238   8235  1.500000
2239   9405  1.000000

[2240 rows x 2 columns]

In [21]:
df.to_csv('processed_campaign_data.csv', index=False)
print("Processed data saved to 'processed_campaign_data.csv'")

Processed data saved to 'processed_campaign_data.csv'